/*Import fonts*/

@font-face{
  font-family: "Sofia";
  src: url('../../fonts/Sofia_Pro_Regular.otf');
  font-weight: 400;
}

@font-face{
  font-family: "Sofia";
  src: url('../../fonts/Sofia_Pro_Bold.otf');
  font-weight: 700;
}
