@import "fonts";

$primary-font-stack: "Sofia", "Futura", helvetica, arial, sans-serif;

$primary-color: #38474f;
$secondary-color: #cfd8dc;
$accent-color: #2962ff;

$primary-color-ravenna: #b24c19;
$primary-color-overlay-ravenna: #c6721e;
$secondary-color-ravenna: #f6ecd1;

$primary-color-release: #3E98D4;
$primary-color-overlay-release: #21457F;
