@import "fonts";

$intervogue-stack: "Intervogue", "Futura", helvetica, arial, sans-serif;

$black: #38474f;
$black--50: rgba(56,71,79, 0.5);
$black--90: rgba(0,10,15, 0.95);


$light-gray: #cfd8dc;
$white: #fff;

$blue: #2962ff;
$blue--hover: #3493FF;
