.btn,
input.btn{
  font-family: $intervogue-stack;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  border: none;
  background-color: #2962ff;
  padding: 0.8em 1.4em;
  display: block;

  transition: 0.2s ease-in-out;
}

.btn:hover,
input.btn:hover{
  background-color: #448aff;
  cursor: pointer;
}
