/***********
Contact Section
************/

/*Contact Form*/
label{
  display: block;
  font-family: $intervogue-stack;
  font-weight: 500;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

form.contact-form {
  input[type="text"], textarea{
    font-family: $intervogue-stack;
    font-size: 1em;
    line-height: 1.4;
    padding: 0.15em 0.5em;
    transition: all 0.3 ease-in-out;
    outline: 0;
    &:focus {
      box-sizing: border-box;
      border: 1px solid $blue--hover;
    }
  }
  textarea {
    padding: 0.5em;
  }
}

/*Social Icons*/

ul.social-icons {
  display: inline-block;
  padding: 0;
  margin-bottom: 3em;
}

ul.social-icons > li {
  display: inline-block;
  list-style: none;
  margin-right: 2em;
}

ul.social-icons > li i.fa {
  font-size: 2.8em;
  color: #cfd8dc;
  transition: 0.2s ease-in-out;
  &:hover {
    color: $blue;
  }
}

/*Contact Form*/
form.contact-form {
  display: block;
  width: 100%;
  max-width: 96em;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

form.contact-form div {
  margin-bottom: 1.8em;
  width: 100%;
  @include tablet {
    width: 46%;
  }
}

form.contact-form div.comments {
  display: block;
  width: 100%;
}

form.contact-form input.text-field, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  resize: none;
  overflow: auto;
  @include tablet {
    width: 100%;
  }
}

form.contact-form > div > textarea {
  flex:2;
}

input, textarea {
  border: 1px solid #91a4ad;
}