/****************
Resume
****************/
/* Article Cards */
.textured{
  background: url(../../img/noisy_grid.png);
  background-repeat: repeat;
  width: 100%;
  padding: 6.4em 0;
  margin-bottom: 8.821em;
}

.resume-entry{
  display: flex;
  justify-content: space-between;
}

.resume-entry > .main{
  align-self: flex-end;
}