/* Clients */
.textured > section > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.textured > section > ul > li {
  text-decoration: none;
  list-style: none;
}

.textured > section > ul > li > img {
  width: 100%;
}

section > ul > li.client > img {
  margin-bottom: 3em;
}
