/****************
Resume
****************/
/* Article Cards */
.textured > section{
  max-width: 120em;
  padding: 0 3.2em;
}

.resume-entry{
  display: flex;
  justify-content: space-between;
}

.resume-entry > .main{
  align-self: flex-end;
}