/***********************
Global Styles and layout
***********************/

body{
  margin: 0;
  padding: 0;
  width: 100%;
}

// Main Body Styles
section{
  max-width: 96em;
  margin: auto;
  margin-bottom: 3em;
  padding: 2em;
}

hr{
  max-width: 120em;
  margin: 6em auto;
  border: 1px solid $light-gray;
}

ul{
  padding: 0;
}