// Image Grid

.image-list{
	text-decoration: none;
	list-style-type: none;
	padding: 1.5%;
	margin: auto;
	padding-bottom: 6em;
	max-width: 160em;
	display: block;
	column-gap: 0;
	@include tablet {
		column-count: 2;
	}
	@include desktop {
		column-count: 3;
	}
	@include large-desktop {
		column-count: 4;
			column-gap: 0;
	}
}

.image-list-item {
  list-style-type: none;
  padding-bottom: 1%;
  width: 98%;
  margin: auto;
}

img.image-list-item--image {
  display: block;
  width: 100%;
}

img.responsive {
  width: 100%;
}

@media all and (min-width: 768px) {

  .image-list-item{
    break-inside: avoid;
    width: 98%;
  }

  img.image-list-item--image{
    max-width: 100%;
  }

  .textured{
    .sidebar {
      padding-left: 4em;
    }
  }

  .sidebar {
    width: 20%;
  }

  .main {
    display: block;
    width: 70%;
  }
}