
// Intro Section


.design-mockup-container{
  max-width: 30em;
}

img.release-logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 50em;
  padding: 6em 0;
}

img.screens-perspective {
  margin-bottom: 3em;
}

.release-screens {
  img{
    padding: 0 1em;
  }
}

img.wireframe-img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 70em;
  padding-bottom: 3em;
}
