// Homepage Articles
article.article{
  display: flex;
  align-items: center;
}

article.article.article-image-left{
  flex-direction: row;
}

article.article.article-image-right{
  flex-direction: row-reverse;
}

div.article-image-container{
  width: 50%;
}

div.article-text{
  width: 50%;
  padding: 0;
  * {
    text-align: left;
  }
}

// Two-Column Layout
.two-col-layout{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .main, .sidebar {
    display: block;
  }
  .main {
    width: 65%;
  }
  .sidebar {
    width: 25%;
  }
}

// Contact

form.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form.contact-form div {
  margin-bottom: 2.4em;
  width: 50%;
}

form.contact-form input.text-field {
  width: 90%;
}
